<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" href="{%static 'index.css'%}">
    <title>DJANGO WELCOME</title>
</head>
<body>
    <div class="container">
        <h1>WELCOME TO DJANGO</h1>
        <div class="a">
            <div class="a1"><a href="/register/" style="text-decoration: none;">REGISTER</a><br></div>
            <div class="a2"><a href="/login/" style="text-decoration: none;">LOGIN</a></div>
        </div>
    </div>
</body>
</html>